body {
    background: black;
    color: lightgray;
}

#search {
    position: relative;
    display: flex;
    margin: auto;
    width: 50%;
}

#searchQuery {
    width: 100%;
    border: 3px solid darkred;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    background: black;
    color: lightgray;
}

#searchButton {
    width: 40px;
    height: 36px;
    border: 3px solid darkred;
    background: darkred;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
}